<% var title = 'Consomation Equipements' %>
<% include head %>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Home Monitoring</strong> !</h1>
                    <div class="description">
                        <p class="bg-danger">
                            Votre espace dédié pour gérer l'ensemble de vos équipements de chez vous
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Consomation par <b>équipements</b>  </h3>
                            <p>Gerer l'ensemble de vos équipement dans votre espace</p>
                        </div>
                        <div class="form-top-right">
                            <span style="color:darkgreen"> <i class="fa fa-desktop" aria-hidden="true"></i> </span>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <table class="table table-striped">
                            <thead>
                                 <tr>
                                    <th>libelle</th>
                                    <th>numero de série</th>
                                    <th>Consomation</th>
                                 </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < consoEquip.length; i++) { %>
                                <tr>
                                    <td><%= consoEquip[i].libelle %></td>
                                    <td><%= consoEquip[i].numero_serie %></td>
                                    <td><%= consoEquip[i].value %></td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <br /><a  href="/gestionCU" class="btn  btn-danger"> <span class="fa fa-reply" aria-hidden="true"></span> Retour</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<%include foot%>