<% var title = 'Historique equipement' %>
<% include head %>

<body class="body-equipement">
<!-- Top content -->
<h1>Récupération des données de vos équipements</h1>
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <span class="dropdown">
                        <button style="margin-bottom: 40px" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choix de l'équipement
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/equipement?chauffage">Chauffage</a></li>
                            <li><a href="/equipement?secheLinge">Séche-Linge</a></li>
                            <li><a href="/equipement?televiseurs">Téléviseurs</a></li>
                            <li><a href="/equipement?refrigirateur">Réfrigirateur</a></li>
                        </ul>
                    </span>
                </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Consommation /kW</th>
                            <th>Température</th>
                            <th>Courbe /t</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<%include foot%>