<% var title = 'Gestion Utilisateur' %>
<% include head %>

<body>
<!-- Top content -->
<h1>Gestion Utilisateur</h1>
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Ajouter un utilisateurs</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Modifier un utilisateurs</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Supprimer un utilisateurs</button>


                </div>
            </div>
        </div>
    </div>

</div>

<%include foot%>