<% var title = 'Consommation utilisateur' %>
<% include head %>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Home Monitoring</strong> !</h1>
                    <div class="description">
                        <p class="bg-danger">
                            Votre espace dédié pour gérer l'ensemble de vos équipements de chez vous
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Espace <b>utilisateur</b>  </h3>
                            <p>Gerer l'ensemble de vos équipement dans votre espace</p>
                        </div>
                        <div class="form-top-right">
                            <span style="color:darkgreen"> <i class="fa fa-desktop" aria-hidden="true"></i> </span>
                        </div>
                    </div>
                    <div class="form-bottom">

                        <p>Consomation total de l'utilisateur : <%= consoTotal %> Kw Prix : <%= prix %> €</p>

                        <form role="form" action="/listeCU" method="post" class="login-form">
                            <label for="DateDeb">Date Debut</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='date' class="form-control" id="DateDeb" name="dateDebut" />
                            </div>
                            <label for="DateFin">Date Fin</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='date' class="form-control" id="DateFin" name="dateFin" />
                            </div>
                            <br /><button type="submit" class="btn">Conso total</button>
                        </form>

                        <br /><a  href="/gestionCU" class="btn  btn-danger"> <span class="fa fa-reply" aria-hidden="true"></span> Retour</a>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>




<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

<% include foot%>