<<<<<<< HEAD
<% var title = 'Formulaire login administrateur' %>
<% include head %>

=======
<% var title = 'Formulaire login Admin' %>
<% include head %>

<body id="admin">
>>>>>>> c18ef03e509af267d17645ff5ce32baf6c1a8434
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
<<<<<<< HEAD
                    <h1><strong>Home Monitoring</strong> !</h1>
                    <div class="description">
                        <p class="bg-danger">
                            Veuillez vous connecter pour accéder à l'espace administrateur
=======
                    <h1><strong>Connexion administration</strong> !</h1>
                    <div class="description">
                        <p>
                            Veuillez vous connecter pour accéder aux données
>>>>>>> c18ef03e509af267d17645ff5ce32baf6c1a8434
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
<<<<<<< HEAD
                            <h3>Connexion à l'espace <b>Administrateur</b></h3>
                            <p>Entrez votre login et mot de passe :</p>
                        </div>
                        <div class="form-top-right">
                           <span style="color:darkred"> <i  class="fa fa-lock "></i> </span>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="/login" method="post" class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Pseudo</label>
                                <input type="text" name="login" placeholder="Username..." class="form-username form-control" id="login">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Mot de Passe</label>
                                <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="password">
=======
                            <h3>Connexion</h3>
                            <p>Entrez votre login et mot de passe pour vous connecter:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="submit.html" method="post" class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Pseudo</label>
                                <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Mot de Passe</label>
                                <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
>>>>>>> c18ef03e509af267d17645ff5ce32baf6c1a8434
                            </div>
                            <button type="submit" class="btn">Connexion !</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

<% include foot%>