<% var title = 'Accueil Admin' %>
<% include head %>
<body>
<!-- Top content -->
<h1>Partie Administrateur</h1>
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <div class="form-bottom">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Gestion des utilisateurs</button>
                    <button type="button" class="btn btn-default btn-lg btn-block">Gestion des plugs</button>*
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%include foot%>