<% var title = 'Inscription' %>
<% include head %>
<body>
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Home Monitoring</strong> !</h1>
                    <div class="description">
                        <p>
                            Modifier equipement de réference
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Modifier un profil de consomation</h3>
                            <p>Entrez l'ensemble des données afin de modifier un profil de consomation:</p>
                        </div>
                        <div class="form-top-right">
                            <span style="color:greenyellow"><i class="fa fa-plus"></i></span><span style="color:#2b669a"><i class="fa fa-user"></i> </span>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="/modifRA" method="post" class="login-form">
                            <div class="dropdown">
                                <select  class="form-control" id="id_ref" name="id_ref" >
                                    <% for(var i = 0; i < reference.length; i++) { %>
                                    <br /> <option value="<%= reference[i].id_ref %>"> <%= reference[i].id_ref %> <%= reference[i].type_ref %>  </option><br />
                                    <% } %>
                                </select> <br />
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Type de réference</label>
                                <input type="text" name="type_ref" placeholder="Entrer le type d equipement" class="form-username form-control" id="type_ref">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username"> Consomation de ref min</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="conso_ref_min"  name = "conso_ref_min" placeholder="consomation min">
                                    <div class="input-group-addon">KWh</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username"> Consomation de ref max</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" id="conso_ref_max" name="conso_ref_max" placeholder="consomation max">
                                    <div class="input-group-addon">KWh</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">prix de ref max</label>
                                <div class="input-group">
                                    <div class="input-group-addon">€</div>
                                    <input type="text" class="form-control" id="prix_ref_min" name="prix_ref_min" placeholder="prix min">
                                    <div class="input-group-addon">.00 euros</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">prix de ref max</label>
                                <div class="input-group">
                                    <div class="input-group-addon">€</div>
                                    <input type="text" class="form-control" id="prix_ref_max" name="prix_ref_max" placeholder="prix max">
                                    <div class="input-group-addon">.00 euros</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">prix du wat</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-bolt" aria-hidden="true"></i>/€</div>
                                    <input type="text" class="form-control" id="prix_wat" name="prix_wat" placeholder="prix reference du wat">
                                    <div class="input-group-addon">KWh/euros</div>
                                </div>
                            </div>
                            <button type="submit" class="btn">Modifier le profile !</button>
                        </form>
                        <br /> <a  href="/gestionRA" class="btn  btn-danger"> <span class="fa fa-reply" aria-hidden="true"></span> Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->


<% include foot %>